In [90]:
import numpy as np
import pandas as pd

In [91]:
data = pd.read_csv(r"C:\Users\khyat\Downloads\sem 4\TensorFlow_FILES\TensorFlow_FILES\DATA\iris.csv")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [92]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [93]:
data['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [94]:
data.loc[data['species'] == 'setosa', 'species'] = 0
data.loc[data['species'] == 'versicolor'] = 1
data.loc[data['species'] == 'virginica'] = 2
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [95]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width species
145           2.0          2.0           2.0          2.0       2
146           2.0          2.0           2.0          2.0       2
147           2.0          2.0           2.0          2.0       2
148           2.0          2.0           2.0          2.0       2
149           2.0          2.0           2.0          2.0       2

In [96]:
X = data.drop('species', axis = 1)
y = data['species']

In [97]:
X.shape

(150, 4)

In [98]:
y.shape

(150,)

In [100]:
from sklearn.preprocessing import normalize

X_norm = normalize(X, axis = 0)

In [101]:
total_len = len(data)
total_len

150

In [102]:
train_len = int(.8 * total_len)
train_len

120

In [103]:
test_len = int(.2 * total_len)
test_len

30

In [104]:
X_train = X_norm[:train_len]
y_train = y[:train_len]

X_test = X_norm[train_len:]
y_test = y[train_len:]

In [66]:
! pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\khyat\anaconda3\lib\site-packages (2.7.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (3.19.4)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.43.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: flatbuffers<3.0,>=1.12 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.11.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.21.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (0.23.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: numpy>=1.14.5 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.19.2)
Requirement already satisfied: tensorflow-estimator<2.8,~=2.7.0rc0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: libclang>=9.0.1 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (13.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: tensorboard~=2.6 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: gast<0.5.0,>=0.2.1 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorflow) (0.35.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.6.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.24.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (3.3.6)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\khyat\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (50.3.1.post20201107)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\khyat\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\khyat\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\khyat\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (5.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\khyat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\khyat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\khyat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\khyat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.25.11)
Requirement already satisfied: importlib-metadata>=4.4; python_version < "3.10" in c:\users\khyat\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow) (4.10.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\khyat\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\khyat\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)
Requirement already satisfied: zipp>=0.5 in c:\users\khyat\anaconda3\lib\site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.4.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\khyat\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.2.0)

In [67]:
import tensorflow as tf

In [105]:
print(tf.__version__)

2.7.0

In [111]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Activation,Dropout
from keras.utils import np_utils

In [112]:
y_train = np_utils.to_categorical(y_train, num_classes = 3)
y_test = np_utils.to_categorical(y_test, num_classes = 3)
print("Shape of y_train", y_train.shape)
print("Shape of y_test", y_test.shape)

Shape of y_train (120, 3)
Shape of y_test (30, 3)

In [113]:
model = Sequential()
model.add(Dense(1000,input_dim = 4,activation = 'relu'))
model.add(Dense(500,activation = 'relu'))
model.add(Dense(300,activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(3,activation = 'softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [114]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 1000)              5000

 dense_7 (Dense)             (None, 500)               500500

 dense_8 (Dense)             (None, 300)               150300

 dropout (Dropout)           (None, 300)               0

 dense_9 (Dense)             (None, 3)                 903

=================================================================
Total params: 656,703
Trainable params: 656,703
Non-trainable params: 0
_________________________________________________________________

In [115]:
model.fit(X_train,y_train,validation_data = (X_test,y_test),batch_size = 20, epochs = 10, verbose = 1)

Epoch 1/10
6/6 [==============================] - 1s 67ms/step - loss: 1.0643 - accuracy: 0.4833 - val_loss: 1.1580 - val_accuracy: 0.0000e+00
Epoch 2/10
6/6 [==============================] - 0s 11ms/step - loss: 0.9290 - accuracy: 0.7250 - val_loss: 1.2668 - val_accuracy: 0.0000e+00
Epoch 3/10
6/6 [==============================] - 0s 10ms/step - loss: 0.7119 - accuracy: 0.8333 - val_loss: 1.3242 - val_accuracy: 0.0000e+00
Epoch 4/10
6/6 [==============================] - 0s 11ms/step - loss: 0.5092 - accuracy: 0.8333 - val_loss: 1.3924 - val_accuracy: 0.0000e+00
Epoch 5/10
6/6 [==============================] - 0s 10ms/step - loss: 0.4120 - accuracy: 0.8333 - val_loss: 1.4889 - val_accuracy: 0.0000e+00
Epoch 6/10
6/6 [==============================] - 0s 10ms/step - loss: 0.3819 - accuracy: 0.8333 - val_loss: 1.0612 - val_accuracy: 0.0000e+00
Epoch 7/10
6/6 [==============================] - 0s 11ms/step - loss: 0.3478 - accuracy: 0.8333 - val_loss: 1.1279 - val_accuracy: 0.0000e+00
Epoch 8/10
6/6 [==============================] - 0s 11ms/step - loss: 0.3251 - accuracy: 0.8333 - val_loss: 0.8134 - val_accuracy: 0.0000e+00
Epoch 9/10
6/6 [==============================] - 0s 11ms/step - loss: 0.2681 - accuracy: 0.9167 - val_loss: 0.6174 - val_accuracy: 1.0000
Epoch 10/10
6/6 [==============================] - 0s 11ms/step - loss: 0.1929 - accuracy: 0.9833 - val_loss: 0.5016 - val_accuracy: 1.0000

In [117]:
prediction =model.predict(X_test)
length = len(prediction)
y_label = np.argmax(y_test, axis = 1)
predict_label = np.argmax(prediction, axis = 1)

accuracy = np.sum(y_label == predict_label)/length * 100
print("Accuracy of the dataset", accuracy)

Accuracy of the dataset 100.0